@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@*About.cshtml
    Amanda Field - 200267851 - 200267851, Anthony Gobin - 200296437, Robert Page
    OnTheRoX
    The about page of the OnTheRox Website. talks about us and the comanpy*@
<p>Use this area to provide additional information.</p>
